
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/registro_tipo.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Rowdies:wght@700&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<br />
<div class="container">
    <div class="row">
        <div class="col-12 titulo"><h1>Registros Tipo Trabajador</h1></div>
        <div class="row-cols-4">
            <br />
            <br />
            <div class="col-12">
                <a asp-controller="TiposTrabajadores" asp-action="CreateTipoTrabajador" class="col-4 btn-success btn-registro"><i class="fas fa-plus" style="margin-top: 5px;"></i>Crear Tipo Trabajador</a>
                <a asp-controller="Trabajadores" asp-action="Index" class="col-4 btn-warning btn-registro"><i class="fa fa-arrow-left" style="margin-top: 5px;"></i>Atrás</a>
            </div>
        </div>

    </div>




    <br />
    <br />
    <table id="tblTipoTrabajador" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>


    </table>
</div>
@section Scripts{
    <script src="~/js/tipoTrabajador.js"></script>
}
