@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Rowdies:wght@700&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<h1 class="text-danger text-center">Error.</h1>
<h2 class="text-danger text-center">Se produjo un error al procesar su solicitud.</h2>

@if (Model.ShowRequestId)
{
    <div class="row">
        <div class="col-4 text-center"></div>
        <a>
            <strong>Codigo de error: @Model.RequestId</strong>
        </a>
    </div>

}

