@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Rowdies:wght@700&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/registro-trabajadores.css">


<div class="container">
    <div class="row">
        <div class="col-12 titulo"><h1>Registros Vehículos</h1></div>
        <div class="col-12  botones">
            <a class="btn-crear" asp-action="CreateVehiculo"><i style="margin-right: 20px !important;" class="fas fa-plus-circle"></i>Registrar Vehículo</a>
            <a class="btn-crear" asp-controller="TiposVehiculos" asp-action="Index"><i style="margin-right: 20px !important;" class="fas fa-plus-circle"></i>Registrar tipo Vehículo</a>
            <a class="btn-crear" asp-controller="Home" asp-action="Index"><i style="margin-right: 20px !important;" class="fas fa-plus-circle"></i>Atrás</a>

        </div>
    </div>
    <table id="tblVehiculo" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Patente</th>
                <th>Año</th>
                <th>Tipo</th>
                <th colspan="1"></th>
            </tr>
        </thead>


    </table>

    @section Scripts{
        <script src="~/js/vehiculo.js"></script>
    }





</div>