
@model Lagazzi.Models.TipoVehiculo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/registro_tipo.css">
<div>
    <div class="container">
        <div class="row">
            <div class="col-12 titulo"><h1>Editar Tipo Vehículo</h1></div>
            <div class="col-10"></div>
            <form method="post" asp-action="EditarTipoVehiculo" class="col-12 form-register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nombre"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success form-control" asp-route-id="@Model.Id">Actualizar</button>
                        &nbsp;
                    </div>
                    <div class="col">
                        <a asp-controller="TiposVehiculos" asp-action="Index" class="btn btn-warning form-control">Volver a Lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
