@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Rowdies:wght@700&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<div class="modal-dialog text-center">
    <div class="col-sm-12">
        <div class="logo">
            <img src="~/img/lagazzi.png" alt="">
        </div>
        <div class="modal-content">
            <div class="col-12">
                <img src="/img/pngocean.com (2).png" alt="">
            </div>
            <form action="" class="col-12">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Correo">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-light"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                <div class="col-12 forgot">
                    <a href="#">Olvidaste contraseña?</a>
                </div>
            </form>
        </div>

    </div>
</div>